button {
  margin: 0 1em 0 1em;
  padding: 1em 1.5em 1em 1.5em;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

body {
  background-image: url(./assets/Lemme\ Think\ GIF.gif);
  background-position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

img {
  margin: 1em 0 1em 0;
}

section {
    display: flex;
    justify-content: end;
}
